@using RaceManager.locales
@{
    ViewData["Title"] = locale.Settings;
}
@model RaceManager.Models.StudentModel;

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widthn initial-scale=1.0">
    <title>Configuration</title>
    @*		<link rel="stylesheet" type="text/css" href="CSS/config.css">
    *@
</head>
<body>
    <div class="container" align="center">
        @*
            <hr />
            <h3><b style="color:white">Forms: Weakly Typed</b></h3>*@
        @*
            <form action="form1" method="post" style="color:white">
            <table>
            <td> ID is @ViewBag.ID</td>
            <tr>
            <td>Enter ID: </td>
            <td><input type="text" name="txtId" /></td>
            </tr>
            <td>Name is @ViewBag.Name</td>
            <tr>
            <td>Enter Name: </td>
            <td><input type="text" name="txtName" /></td>

            </tr>
            <td>Addon is @ViewBag.Addon</td>
            <tr>
            <td>Addon: </td>
            <td><input type="checkbox" name="chkAddon" /></td>
            </tr>
            <tr>
            <td><input type="submit" value="Submit Form" /></td>
            </tr>
            </table>
            </form>*@

        @using (Html.BeginForm("Form2", "Config", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Enter ID: </td>
                    <td>@Html.TextBoxFor(m => m.Id)</td>
                </tr>
                <tr>
                    <td>Enter Name: </td>
                    <td>@Html.TextBoxFor(m => m.Name)</td>
                </tr>
                <tr>
                    <td>Addon: </td>
                    <td>@Html.CheckBoxFor(m => m.Addon)</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit Form" /></td>
                </tr>
            </table>
        }

    </div>


    @*@using (Html.BeginForm("action","yourcontrollername"))
        {
        <form action="form1" method="post" style="color:white">
        <table>
        <tr>
        <td>ID is @ViewBag.ID</td>
        <td><input type="text" name="txtId" /></td>
        </tr>
        <tr>
        <td><input type="text" name="txtName" /></td>
        </tr>
        <tr>
        <td>Addon is @ViewBag.Addon</td>
        <td><input type="checkbox" name="chkAddon" /></td>
        </tr>
        <tr>
        <td><input type="submit" value="Submit Form" /></td>
        </tr>
        </table>
        </form>
        <input type="submit" value="Create" />

        }  *@
</body>
</html>