@using RaceManager.locales
@{
    ViewData["Title"] = locale.Settings;
}
@model RaceManager.Models.SettingsModel;

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widthn initial-scale=1.0">
    <title>@locale.Settings</title>
    @*		<link rel="stylesheet" type="text/css" href="CSS/config.css">
    *@
</head>
<body>
    <div class="container" align="center">
        @*
            <hr />
            <h3><b style="color:white">Forms: Weakly Typed</b></h3>*@
        @*
            <form action="form1" method="post" style="color:white">
            <table>
            <td> ID is @ViewBag.ID</td>
            <tr>
            <td>Enter ID: </td>
            <td><input type="text" name="txtId" /></td>
            </tr>
            <td>Name is @ViewBag.Name</td>
            <tr>
            <td>Enter Name: </td>
            <td><input type="text" name="txtName" /></td>

            </tr>
            <td>Addon is @ViewBag.Addon</td>
            <tr>
            <td>Addon: </td>
            <td><input type="checkbox" name="chkAddon" /></td>
            </tr>
            <tr>
            <td><input type="submit" value="Submit Form" /></td>
            </tr>
            </table>
            </form>*@

        @using (Html.BeginForm("SettingsUpdated", "RaceManager", FormMethod.Post))
        {
            <fieldset style="color: white">
                <legend>Fields</legend>

                <p>
                    <label> Actual port is @ViewBag.Port</label> <br>
                    <label>Enter new port : </label> 
                    @Html.TextBoxFor(m => m.Port)
                </p>
                <p>
                    <label>Language </label>
                    @Html.TextBoxFor(m => m.Language)
                </p>
                <p>
                    <label colspan="2"><input type="submit" value="Save settings" /></label>
                </p>
            </fieldset>
        }

    </div>


    @*@using (Html.BeginForm("action","yourcontrollername"))
        {
        <form action="form1" method="post" style="color:white">
        <table>
        <tr>
        <td>ID is @ViewBag.ID</td>
        <td><input type="text" name="txtId" /></td>
        </tr>
        <tr>
        <td><input type="text" name="txtName" /></td>
        </tr>
        <tr>
        <td>Addon is @ViewBag.Addon</td>
        <td><input type="checkbox" name="chkAddon" /></td>
        </tr>
        <tr>
        <td><input type="submit" value="Submit Form" /></td>
        </tr>
        </table>
        </form>
        <input type="submit" value="Create" />

        }  *@
</body>
</html>