@using RaceManager.locales

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widthn initial-scale=1.0">
    <title>@locale.RaceManager</title>
    @*<link rel="stylesheet" type="text/css" href="style.css">*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body>
    <div class="container">
        <div class="card">
            <div class="imgBx" data-text="@locale.GridFile2">
                <img class="image" src="Images-Decor/chef.png">
            </div>
            <div class="content">
                <div>
                    <h3>@locale.GridFile2</h3>
                    <p>@locale.GridDesc</p>
                    <a class="nav-link" asp-area="" asp-controller="RaceManager" asp-action="Grid">@locale.SeeMore</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="@locale.GpxFile2">
                <img class="image" src="Images-Decor/Maliana.png">
            </div>
            <div class="content">
                <div>
                    <h3>@locale.GpxFile2</h3>
                    <p>@locale.GpxDesc</p>
                    @*<a href="Pages/gpx.cshtml">Voir plus</a>*@
                    <a class="nav-link" asp-area="" asp-controller="RaceManager" asp-action="Gpx">@locale.SeeMore</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="@locale.Settings">
                <img class="image" src="Images-Decor/mode.png">
            </div>
            <div class="content">
                <div>
                    <h3>@locale.Settings</h3>
                    <p>@locale.SettingsDesc</p>
                    @*<a href="@Url.Page("Pages/Config")">Voir plus</a>*@
                    <a class="nav-link" asp-area="" asp-controller="RaceManager" asp-action="Config">@locale.SeeMore</a>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="@locale.Help">
                <img class="image" src="Images-Decor/conclu.png">
            </div>
            <div class="content">
                <div>
                    <h3>@locale.Help</h3>
                    <p>@locale.HelpDesc</p>
                    <a href="https://le-clan-des-semi-croustillant.github.io/SRSP-Race-Manager/" target="_blank">@locale.SeeMore</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>