@using RaceManager.Language
<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>@Locales.Waiting</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>@Locales.Pardon</h1>
                    <p>@Locales.NotAuthorized</p>
                </NotAuthorized>
            </AuthorizeRouteView>

            @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />


        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">@Locales.Nothing</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>
