@using RaceManager.locales
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@locale.Error</h1>
<h2 class="text-danger">@locale.ErrorDesc</h2>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>@locale.IdReq</strong> <code>@Model?.RequestId</code>
    </p>
}

<h3>@locale.DevMod</h3>
<p>
    @locale.SwapTo <strong>@locale.Dev</strong> @locale.DevDesc
</p>
<p>
    <strong>@locale.DevModDesc1</strong>
    @locale.DevModDesc2
    @locale.DevModDesc3 <strong>@locale.Dev</strong> @locale.DevModDesc4 <strong>ASPNETCORE_ENVIRONMENT</strong> @locale.DevModDesc5 <strong>@locale.Dev</strong>
    @locale.DevModDesc6
</p>
