@page "/boattypes"
@using RaceManager.Language
@using Microsoft.AspNetCore.SignalR.Client
@using RaceManager.Reading
@using RaceManager.Language
@inject NavigationManager navigationManager

<PageTitle>Boat types management</PageTitle>

<div class="parent">
    <div class="BoatTypeListContainer">
        <div class="Content">
            <div style="margin-right: 8%">
                @if (_boatTypesList is not null)
                {
                    foreach (BoatType bt in _boatTypesList)
                    {
                        <p> <button class="boat-button" data-id=@bt.ID @onclick="() => Select(bt)"> @bt.Name </button> </p>
                    }
                }
            </div>
        </div>
        <button class="btn btn-primary" @onclick="AddNewBoatType" disabled="@(_boatTypesList is null)"> @Locales.AddNewBoatType </button>
    </div>

    @if (_loaded)
    {
        <div class="BoatTypeListContainer ">
            <div class="float-left-child" style="margin-right: 5%; min-width : 150% ">
                <div style="margin-bottom: 5%">
                    @foreach (KeyValuePair<string, AField> keyValuePair in _fields)
                    {
                        <p> <label> @keyValuePair.Key </label> <input type="text" @bind-value="@(keyValuePair.Value.FieldContent)" disabled="@(_selected is null)" style=" @keyValuePair.Value.Style "> </p>
                    }
                    <p> <Label> ID : @(_selected is not null ? _selected.ID : "") </Label> </p>

                </div>
                <p>
                    <button class="btn btn-primary" @onclick="Save" disabled="@(_selected is null)"> @Locales.Save </button>
                    <button class="btn btn-primary" style="background: red" @onclick="() => Remove(_selected)" disabled="@(_selected is null)"> @Locales.Remove </button>
                </p>
            </div>
        </div>

    }

</div>

@code {
    private static RMLogger _logger = new RMLogger(LoggingLevel.INFO, "BoatTypesManagement");
    private HubConnection? _hubConnection;

    private bool _loaded = false;

    private List<BoatType>? _boatTypesList;
    private BoatType? _selected;

    private Dictionary<string, AField> _fields = new();
    private bool _isFormValid = true;

    /// <summary>
    /// Add a new boat type
    /// </summary>
    private void Select(BoatType bt)
    {
        _logger.log(LoggingLevel.DEBUG, "Select()", $"User select {bt.Name}");
        _selected = bt;
        _fields[Locales.Name].FieldContent = _selected.Name;
        _fields[Locales.HullLength].FieldContent = _selected.HullLength.ToString();
        _fields[Locales.OverallLength].FieldContent = _selected.OverallLength.ToString();
        _fields[Locales.HullWidth].FieldContent = _selected.HullWidth.ToString();
        _fields[Locales.OverallWidth].FieldContent = _selected.OverallWidth.ToString();
        _fields[Locales.AirDraft].FieldContent = _selected.AirDraft.ToString();
        _fields[Locales.Draft].FieldContent = _selected.Draft.ToString();
        _fields[Locales.Weight].FieldContent = _selected.Weight.ToString();

        foreach (KeyValuePair<string, AField> keyValuePair in _fields)
        {
            keyValuePair.Value.isValid = true;
            keyValuePair.Value.Style = "";
        }
        StateHasChanged();
    }

    /// <summary>
    /// Save the boat type
    /// </summary>
    private void Save()
    {
        _isFormValid = true;
        foreach (KeyValuePair<string, AField> keyValuePair in _fields)
        {
            AField afield = keyValuePair.Value;
            afield.StoreValue();
            if (afield.isValid == false)
                _isFormValid = false;
        }

        if (_isFormValid && _selected is not null)
        {
            _selected.Name = ((BoatTypeField<string>)_fields[Locales.Name]).Value;
            _selected.HullLength = ((BoatTypeField<float>)_fields[Locales.HullLength]).Value;
            _selected.OverallLength = ((BoatTypeField<float>)_fields[Locales.OverallLength]).Value;
            _selected.HullWidth = ((BoatTypeField<float>)_fields[Locales.HullWidth]).Value;
            _selected.OverallWidth = ((BoatTypeField<float>)_fields[Locales.OverallWidth]).Value;
            _selected.AirDraft = ((BoatTypeField<float>)_fields[Locales.AirDraft]).Value;
            _selected.Draft = ((BoatTypeField<float>)_fields[Locales.Draft]).Value;
            _selected.Weight = ((BoatTypeField<float>)_fields[Locales.Weight]).Value;
            SendBoatTypesList(_boatTypesList);
        }
        _boatTypesList.Sort();
        StateHasChanged();
    }
}