@page "/boattypes"
@using RaceManager.Language
@using Microsoft.AspNetCore.SignalR.Client
@using RaceManager.Reading
@using RaceManager.DataProcessing.Files
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "RaceManager")]

@*
    This page is used to manage the boat types.
    The user can add, edit and delete boat types.
    It can also attach pol files to the boat types.
*@

<PageTitle>Boat types management</PageTitle>

<div class="parent">
    <div class="BoatTypeListContainer">
        <div class="Content">
            <div style="margin-right: 8%">
                @if (_boatTypesList is not null)
                {
                    @*
                        Generate button to select each boat types.
                    *@
                    foreach (BoatType bt in _boatTypesList)
                    {
                        <p> <button class="boat-button" data-id=@bt.ID @onclick="() => BoatTypeSelect(bt)"> @bt.Name </button> </p>
                    }
                }
            </div>
        </div>
        <button class="btn btn-primary button-form" @onclick="AddNewBoatType" disabled="@(_boatTypesList is null)"> @Locales.AddNewBoatType </button>
    </div>

    @if (_loaded)
    {
        <div class="BoatTypeListContainer ">
            <div style="margin: 30px">
                <div style="margin-bottom: 5%">
                    @foreach (KeyValuePair<string, AField> keyValuePair in _fields)
                    {
                        @*
                            Generate the form to edit the boat type.
                            inputs labels are wrapped in a AField object.
                            see the AField class in the RaceManager.Reading namespace.
                        *@
                        <p> <label> @keyValuePair.Key </label> <input type="text" @bind-value="@(keyValuePair.Value.FieldContent)" disabled="@(_btSelected is null)" style=" @keyValuePair.Value.Style "> </p>
                    }
                    <p> <label> ID : @(_btSelected is not null ? _btSelected.ID : "") </label> </p>

                </div>
            </div>
            <div style="position: absolute; left: 5%; bottom: 3%">
                <p> <button class="btn btn-primary " style="margin:5%" @onclick="Save" disabled="@(_btSelected is null)"> @Locales.Save </button> </p>
                <p> <button class="btn btn-primary" style="background: red;margin:5%" @onclick="() => RemoveBoatType(_btSelected)" disabled="@(_btSelected is null)"> @Locales.Remove </button> </p>
            </div>

        </div>

        <div class="BoatTypeListContainer">
            <div style="height: 60%;">
                <div class="Content" style="position: absolute;left:10px;right:10px;max-width: 90%;height:53%">
                    @if (_btSelected is not null)
                    {
                        foreach (Polar p in _btSelected.PolarFileList)
                        {
                            @*
                                Generate the pol files list.

                            *@
                            <p>

                                <label class="polar-button"> @p.Name </label>
                                <button class="del-button" @onclick="() => RemovePolar(p)"> &#10060; </button>
                            </p>

                        }
                    }

                </div>
            </div>

            <div style="position: relative; bottom:0px; margin:0%; border-top:  solid #743b78; min-width: 70%; max-height:29%  ; min-height:25%  ">
                <div style="margin: 8%">
                    <p>
                        <label> @Locales.Name </label>
                        <input type="text" @bind-value="_polarfield.FieldContent" style=" @_polarfield.Style" disabled="@( _btSelected is null)">
                    </p>
                    <p>
                        <InputFile OnChange=LoadFiles disabled="@(_btSelected is null)" />
                    </p>
                    <p>
                        <a style="color: red;"> @_errorMessage </a>
                    </p>
                </div>

            </div>
            <button class="btn btn-primary button-form" style=" position: absolute;bottom:5px; width:auto" @onclick="AddPolarFile" disabled="@(_pSelected is null || _btSelected is null || _polarfield.FieldContent == "")"> Add new polar </button>

        </div>
    }
</div>
