@page "/settings"
@using RaceManager.Language
@using Microsoft.AspNetCore.SignalR.Client
@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@using RaceManager.Reading
@using RaceManager.Communication
@inject NavigationManager navigationManager
@*@attribute [Authorize(Roles = "RaceManager")]*@

<PageTitle>Settings</PageTitle>
<div class="parent">



    <div class="BoatTypeListContainer " style="padding:7%; margin:15%">
        <p>
            <label> port </label> <input type="text" @bind-value="@(portField.FieldContent)" style="@portField.Style">
        </p>
        <p style="padding-top:5%">
            <button class="btn btn-primary" @onclick="Save">@Locales.Save</button>
        </p>

        <div class="SettingsOnOff " style="position:center">
            <p>
                <button class="btn btn-settings" style="background: Gray" @onclick="TurnOn"> @Locales.TurnOnTheServer </button>
                <button class="btn btn-settings" style="background: Gray" @onclick="TurnOff"> @Locales.TurnOffTheServer  </button>
            </p>
        </div>


    </div>
    <div class="BoatTypeListContainer " style="padding:7%; margin:15%">
        <label style="padding:7%">@Locales.CurrentLanguage</label>
        <p>
            <button class="btn btn-settings" style="background: #1b6ec2" @onclick='() => ChangeCulture("fr")'> @Locales.French </button>
        </p>
        <p>
            <button class="btn btn-settings" style="background: #1b6ec2" @onclick='() => ChangeCulture("en")'> @Locales.English </button>
        </p>
    </div>

</div>

@code {

    private static RMLogger _logger = new RMLogger("Settings");
    private HubConnection? hubConnection;

    private int port = AsyncServer.Port;

    private RealField<int> portField = new() { FieldContent = AsyncServer.Port.ToString(), Label = "Port", Value = AsyncServer.Port };


    bool loaded = false;
    /// <summary>
    /// When save button is clicked
    /// </summary>
    private void Save()
    {
        if (portField.StoreValue())
        {
            port = portField.Value;
            SendPort(port);
        }

        StateHasChanged();
    }
    /// <summary>
    /// Change the culture of the application
    /// </summary>
    /// <param name="culture"></param>
    /// <returns></returns>
    private async Task ChangeCulture(string culture)
    {
        LocaleManager.UpdateCulture(culture);
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("ChangeCulture", culture);
            navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
        }
        else _logger.log(LoggingLevel.WARN, "ChangeCulture()", "hubConnection is null");
    }
    /// <summary>
    /// Turn on the server
    /// </summary>
    /// <returns></returns>
    private async Task TurnOn()
    {
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("TurnOn");
        }
        else _logger.log(LoggingLevel.WARN, "TurnOn()", "hubConnection is null");
    }
    /// <summary>
    /// Turn off the server
    /// </summary>
    /// <returns></returns>
    private async Task TurnOff()
    {
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("TurnOff");
        }
        else _logger.log(LoggingLevel.WARN, "TurnOff()", "hubConnection is null");
    }
    /// <summary>
    ///  Send the port to the server throught signal R if the connection is established
    ///  or log the errors  if the connection is not established
    /// </summary>
    /// <param name="port"></param>
    /// <returns></returns>
    private async Task SendPort(int port)
    {
        if (hubConnection != null)
        {
            _logger.log(LoggingLevel.DEBUG, "SendPort()", $"Sending port {port}");
            await hubConnection.SendAsync("SendPort", port);
        }
        else _logger.log(LoggingLevel.WARN, "SendPort()", "hubConnection is null");
    }
    /// <summary>
    /// Connect to the signal R server
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl(navigationManager.ToAbsoluteUri("/serverhub")).Build();
        await hubConnection.StartAsync();

        loaded = true;

    }



    private class RealField<T> : AField
    {
        // <summary>
        // The boat type field.
        // </summary>
        public int Value;


        private RMLogger logger = new RMLogger("RealField");

        /// <summary>
        /// This function checks if the port chosen by the user is open and not busy,
        /// it also checks if the port is in the right range.
        /// </summary>
        /// <returns></returns>
        public override bool StoreValue()
        {
            isValid = false;
            try
            {
                Value = (int)Convert.ChangeType(FieldContent, typeof(int));

                Style = "";
                if (Value >= 0 && Value <= 65535)
                {
                    if (ServerHub.IsPortBusy(Value)) //voir les ports ouverts avec netstat -ano | more
                    {
                        isValid = true;
                        logger.log(LoggingLevel.DEBUG, "StoreValue()", $"{FieldContent} is valid.");
                    }
                    else
                        throw new Exception("Error, the selected port number is busy.");

                }
                else
                    throw new Exception("Error in the port range, you must use a port number between 0 and 65535 inclusive.");
            }
            catch (Exception e)
            {

                //Value = default(T);
                isValid = false;
                Style = "color: red;border-color: red";
                logger.log(LoggingLevel.WARN, "StoreValue()", $"{FieldContent} is not valid : {e.Message}");



            }
            return isValid;
        }


    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    /// <summary>
    ///  Dispose the component
    /// </summary>
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}